.btn {
    border-radius: 0;
    @include mont(800);
    padding: 12px 80px 12px 40px;
    letter-spacing: 1px;
    font-size: 18px;
    border: 3px solid;
    position: relative;
    text-transform: uppercase;
    &:before {
        content:'';
        position: absolute;
        width: 30px;
        right: 20px;
        height: 22px;
        background: url('../images/arrow-purple.svg') no-repeat center;
        background-size: contain;
        @include easing();
    }
    &.btn-purple {
        color: #fff;
        border-color: $purple;
        background: $purple;
        &:before {
            background: url('../images/arrow-white.svg') no-repeat center;
        }
        &:hover {
            background: #fff;
            color: $purple;
            border-color: $purple;
            &:before {
                background: url('../images/arrow-purple.svg') no-repeat center;
            }
        }
    }
    &.btn-white {
        color: #fff;
        background: none;
        &:before {
            background: url('../images/arrow-white.svg') no-repeat center;
        }
        &:hover {
            background: $purple;
            border-color: $purple;
        }
    }
    &.btn-outline {
        color: $purple;
        background: none;
        &:before {
            background: url('../images/arrow-purple.svg') no-repeat center;
        }
        &:hover {
            background: $purple;
            color: #fff;
            border-color: $purple;
            &:before {
                background: url('../images/arrow-white.svg') no-repeat center;
            }
        }
    }
    &.btn-block {
        text-align: left;
        padding: 12px 40px;
    }
    &.btn-cta {
        min-width: 300px;
        text-align: left;
    }
}

@media (max-width: 575px) {

    .btn {
        font-size: 14px;
        &:before {
            height: 16px;
        }
    }    

}