.post-wrap {
    .blog-entry {
        &.left-col {
            padding: 40px 80px 40px 0;
        }
        &.right-col {
            padding: 40px 0 40px 80px;
        }
        .cats {
            @include mont(700);
            margin: 0 auto 10px;
            display: inline-block;
        }
        h2 {
            @include mont(800);
            font-size: 2.5rem;
            a {
                color: $violet;
            }
        }
    }
    .blog-img {
        height: 500px;
    }
    &.standard-post {
        padding: 60px 0;
        border-bottom: 3px solid $violet;
    }
}

// Single Post
.post-wrap {
    .entry-content {
        padding: 80px 20px;
        max-width: 900px;
        margin: 0 auto;
        h1, h2, h3 {
            @include mont(800);
            color: $violet;
            margin: 0 auto 20px;
            line-height: 1.5;
        }
    }
}

// Posts Nav

.nav-links {
    text-align: center;
    padding: 20px 0;
    a {
        @include mont(700);
        color: $violet;
    }
}

// Post Slider
.slider-wrap {
    padding: 60px 0;    
}



// Phones

@media (max-width: 575px) {
 
    .post-wrap {
        &.standard-post {
            padding: 20px 0;
        }
        .blog-img {
            height: 300px;
        }
        .blog-entry.right-col, .blog-entry.left-col {
            padding: 20px 0;
        }
    }
    
    
}
















.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    
    border: 2px solid $violet;
    border-radius: 50%;

}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: transparent;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button {
    background: $violet;   
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: $violet;
}